// colors
$mskcc-blue: #007cba;
$mskcc-orange: #df4602;
$mskcc-dark-blue: #006098;
$mskcc-medium-blue: #40b4e5;
$mskcc-light-blue: #8fc7e8;
$mskcc-dark-orange: #c24d00;
$mskcc-medium-orange: #f29934;
$mskcc-light-orange: #f6c65b;
$mskcc-dark-violet: #83276b;
$mskcc-light-violet: #b687b8;
$mskcc-dark-magenta: #e92076;
$mskcc-light-magenta: #efb3cb;
$mskcc-red: #b1132d;
$mskcc-dark-green: #4c8b2b;
$mskcc-light-green: #a6ce39;
$mskcc-dark-turquoise: #006c68;
$mskcc-light-turquoise: #009490;
$mskcc-dark-yellow: #ffc20e;
$mskcc-light-yellow: #ffe100;
$mskcc-dark-gray: #9e9e98;
$mskcc-light-gray: #d5d4c7;
$material-gray: #eceff1;
html {
  background-image: url('./images/contestHalloween2022.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  // height: 100vh;
  font-size: 15px;
  // background-color: $material-gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

.app {
  display: grid;
  grid-template-areas:
    'mskcc-header'
    'content';
  grid-row-gap: 4em;
  max-height: 100vh;
}
.main {
  display: grid;
  width: 100vw;
  // height: 100vh;
  align-items: end;
  justify-items: end;
}
.content {
  display: flex;
  width: 80vw;
  text-align: center;
  margin: 6.5em auto;
  padding: 3em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
}

.link {
  // background-color: rgba(255, 255, 255, 0.7);
  // height: 50px;
  // width: 50px;
  // align-items: center;
  // justify-items: center;
  // align-content: center;
  // justify-content: center;
  // text-align: center;
  font-size: 3.5em;
  // border-radius: 8%;
  width: 180px;
  height: 150px;

  margin: 0.6em;
  display: grid;

  .icon {
    font-size: 80px;
    align-self: start;
    justify-self: center;
  }
  .fa.icon {
    font-size: 80px;
    padding-top: 4px;
  }

  .title {
    font-size: 0.4em;
    color: white;
    align-self: end;
    justify-self: center;
  }
}
.blue {
  color: $mskcc-medium-blue;
}
.green {
  color: $mskcc-light-green;
}
.yellow {
  color: $mskcc-light-orange;
}

.violet {
  color: $mskcc-light-violet;
}

.magenta {
  color: $mskcc-dark-magenta;
}

.disabled-link {
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: $mskcc-dark-gray;
  font-size: 3em;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: grid;
  cursor: not-allowed;

  .title {
    font-size: 0.4em;
    color: #424242;
  }
}

.twist {
  transform: 'rotate(-180deg)';
}

.igo-website {
  // grid-column: span 3;

  img {
    height: 70px;
    width: auto;
    margin-bottom: 10px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: white;
  padding: 1em;

  img {
    max-height: 80px;
  }
}

@media only screen and (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }
  .igo-website {
    grid-column: unset;
  }
}
